<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="carmanage.Properties.Settings.carmanageConnectionString"
        connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=carmanage"
        providerName="MySql.Data.MySqlClient" />
    <add name="carmanage.Properties.Settings.htI0ppAXRIConnectionString"
        connectionString="user id=htI0ppAXRI;server=remotemysql.com;database=htI0ppAXRI"
        providerName="MySql.Data.MySqlClient" />
    <add name="carmanage.Properties.Settings.localhost" connectionString="server=localhost;user id=root;persistsecurityinfo=True;password=123456;database=hti0ppaxri"
        providerName="MySql.Data.MySqlClient" />
    <add name="carmanage.Properties.Settings.localmysql" connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=hti0ppaxri;allowuservariables=True"
        providerName="MySql.Data.MySqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
